:root {
    --Tomato: hsl(4, 100%, 67%);
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%); 
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(assets/fonts/Roboto-Regular.ttf);
}

@media (min-width: 800px) {
    main #flex{
        display: flex;
        flex-direction: row-reverse;
        margin:20px;
    }
    main #sign-up picture{
        margin-left: 20px;
    }
    main #sign-up h1 {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 50px;
    }
    main #success-message h1 {
        font-size: 50px;
    }
     /* #message {
        margin: 40px;
    }
    #success-message button{
        margin-left: 10px;
        margin-right: 10px;
    } */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--Dark-Slate-Grey);
}

main {
    background-color: var(--White);
    border-radius: 10px;
    margin-bottom: 20px;
}

main #sign-up div ,main #success-message{
    margin: 20px;
}

main #sign-up picture {
    max-width: 100%;
    
}

main h1 {
    color: var(--Dark-Slate-Grey);
    font-size: 35px;
    margin-bottom: 15px;
    margin-top: 10px;
}

main p , ul li {
    color: var(--Charcoal-Grey);
}

main ul span {
    display: flex;
    margin-bottom: 10px;
    margin-top: 20px;
}

main ul img {
    margin-right: 10px;
}

main ul li {
    list-style-type: none;
}

main form {
    margin-top: 30px;
}

main form #emailinfo {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

main form label , #error {
    font-size: 15px;
    font-weight: bold;
}

main form label {
    color: var(--Dark-Slate-Grey);
}

main form #error {
    color: var(--Tomato);
}

main form input[type="email"] , main form button , main #success-message button {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
}

main form input[type="email"] {
    border: 1px solid var(--Grey);
}

main form input[type="email"]::placeholder {
    font-size: 16px;
    color: var(--Grey);
}

main form button ,main #success-message button {
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    font-size: 16px;
    border: none;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

main form button:hover ,main #success-message button:hover {
    background: linear-gradient(50deg, rgb(208, 65, 122) 0%,rgba(255, 114, 68, 0.881) 100% ) ;
}

.hidden {
    display: none;
}

.error-input {
    border-color: var(--Tomato);
    color: var(--Tomato);
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
